{% extends 'base.html.twig' %}

{% block title %}Process Book{% endblock %}

{% block body %}
    <h1>Process Book</h1>
    <h2>{{ book }}</h2>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.feedback) }}
        {{ form_row(form.process) }}
        {{ form_row(form.rating) }}
        {{ form_row(form.amount) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}