<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Home!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/build/global.css'}}" />
        <link rel="stylesheet" href="{{ app.request.baseUrl ~ '/build/main.css'}}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block header %}
<header style="padding-bottom: 2%">
    {% if app.request.get('_route') != 'login' %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('books')}}">Exe River Publications</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout')}}">Welcome {{ app.user }} | Logout</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REVIEWER') or is_granted('ROLE_EDITOR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('search_book')}}">Search</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users')}}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('pending_payments')}}">Pending Payments</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_AUTHOR') or is_granted('ROLE_AGENT') %}
                        {% if app.user.notifications|length < 1 %}
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">
                                    <i class="fas fa-bell"></i>
                                    <span class="label label-warning">{{ app.user.notifications|length }}</span>
                                    Notifications
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell"></i>
                                    <span class="label label-warning">{{ app.user.notifications|length }}</span>
                                    Notifications
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {%  for notification in app.user.notifications %}
                                    <a class="dropdown-item" href="{{ path('clear_notification', {'notification': notification.id }) }}"><i class="fas fa-times"></i> {{ notification.content }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}
</header>
{% endblock %}
<div class="container body-container">
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ app.request.baseUrl ~ '/build/main.js' }}"></script>
{% endblock %}
</body>
</html>